ADZUNA_APP_ID=your_adzuna_app_id
ADZUNA_API_KEY=your_adzuna_api_key
ADZUNA_COUNTRY=us
GITHUB_TOKEN=your_github_token
GITHUB_REPOSITORIES=dbt-labs/dbt-core,apache/airflow,apache/spark,delta-io/delta,databricks/databricks-sdk-py,snowflakedb/snowflake-connector-python,python/cpython,dagster-io/dagster,kedro-org/kedro,prefecthq/prefect

SNOWFLAKE_ACCOUNT=your_account_identifier
SNOWFLAKE_USER=your_username
SNOWFLAKE_PASSWORD=your_password
SNOWFLAKE_WAREHOUSE=your_warehouse
SNOWFLAKE_DATABASE=job_market_analytics
SNOWFLAKE_SCHEMA=raw
SNOWFLAKE_ROLE=transformer
